.inline 
{
    display: inline;
    

}
#sectionContainer
{
    width: 100%;
    background-color: rgb(160, 20, 20);
    display: grid;
    grid: 
    [head-start]"header header header" 100px
    [content-start]"nav  main ads" 60%
    [footer-start]"footer footer footer" 200px
    /[liks]minmax(20%,1fr) [main] 60% [links]minmax(20%,1fr);
    justify-items: stretch;

}
header
{
    grid-area: header;
    background-color: rgb(20, 160, 76);
}
#home_navigation
{
    grid-area: nav;
    background-color: rgb(131, 13, 131);

}
#catalog
{
    grid-area:main;
    background-color: rgb(17, 55, 208);
    overflow: scroll;

}
aside
{
    grid-area: ads;
    background-color: rgb(207, 240, 23);
}
footer
{
    background-color: rgb(16, 193, 233);
    grid-area: footer;

}
#catalog
{
    display: grid;
   grid-auto-flow: columns ;

}

#test
{
    margin-left: 60%;
}



#menu
{
    width: 30%;
    height: 30px;
    
    margin-left: auto;
    margin-right: auto;
}

.item 
{
    
}
.cat
{
    margin-right: 5%;
}
.catalog_image
{
    
}